.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  color: rgb(228, 196, 196);
  margin: 80px 0 0 20px;
  height: 100vh;
}

.title {
  top: 100px;
  color: white;
}

.slide {
  display: inline-block;
  transition: 450ms;
  padding: 10px 10px;
}

.slide:hover {
  transform: scale(1.08);
}

.image {
  object-fit: contain;
  width: 200px;
  cursor: pointer;
}

.name {
  color: white;
  padding: 10px 0 0 0;
}
